<layout name="Public/layout"/>
<style>
.num{background:#34eb8a;margin:3px;width:20px;display:inline-block;padding-left:5px;color:#040906};
</style>
 <div class="page-heading">
     <h3>{$title}</h3>
        <ul class="breadcrumb"><li><a href="javascript:void(0)">控制面板</a></li>
            <li><a href="javascript:void(0)">启用</a></li>
            <li class="active">禁用</li>
        </ul>
</div>

        <div class="wrapper">
             <div class="row">
                <div class="col-sm-12">
                <section class="panel">
                <header class="panel-heading">
                    Editable Table
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                        <a href="javascript:;" class="fa fa-times"></a>
                     </span>
                </header>
                <div class="panel-body">
                <div class="adv-table editable-table ">
                
            <div style="float:left;>
            	<form action="__SELF__" method="post">
	                <div class="clearfix" style="margin-bottom:15px;">
	                	 <input type="text" name="name" size="30" value="请输入名称"/>
	                    <div class="btn-group">
	                        <button id="editable-sample_new" class="btn btn-primary" type="submit">搜索</button>
	                    </div>
	                </div>
      			</form>
            </div>
      
                <div class="space15"></div>
                <table class="table table-striped table-hover table-bordered" id="editable-sample">
                <thead>
                <tr>
                    <th style="width:50px;">ID</th>
                    <th>留言名称</th>
                    <th>电话</th>
                    <th>面积</th>
                    <th>地区</th>
                    <th>设计师</th>
                    <th>来源</th>
                    <th>关键词</th>
                    <th>预约时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                
          		<volist name="list" id="vo">
				
                <tr class="">
                    <td style="width:20px;">{$vo.id}</td>
                    <td>{$vo.name}</td>
                    <td>{$vo.mobile}</td>
                    <td>{$vo.area}</td>
                    <td>{$vo.addres}</td>
                    <td>{$vo.workername}</td>
                    <td>{$vo.from}</td>
                    <td>{$vo.keyword}</td>
                    <td><?php echo date('Y-m-d - H:i',$vo['time'])?></td>
                  
                    <td style="color:green">                    	
                    	<span vo="{$vo.id}" class="del"style="cursor:pointer;" >删除</span>
					</td>
                </tr>
                
            </volist>      
                </tbody>
           </table>

       <div style="margin-left:0px;"><?php echo $page_str;?></div>
        </div>
     </div>
</section>
<script type="text/javascript">
$('.del').click(function(){
	var id=$(this).attr('vo');
	var tr=$(this).parent().parent();
	layer.confirm('确认要执行此操作吗？', {
		  btn: ['去意已决','我再想想'] //按钮
		}, function(){
		  layer.msg('正在玩命执行中', {icon: 6});
		  $.ajax({
				type:"get",
				url:"{:U('ajaxPodel','',false)}/id/"+id,
				dataType:"json",
				success:function(msg){
					if(msg.status==1){
						tr.remove();
						layer.alert('<h4 style="color:green;">删除成功</h4>', {
							  skin: 'layui-layer-molv', //样式类名
							  closeBtn: 1
							});
					}else{
						layer.alert('<h4 style="color:red;">'+msg.msg+'!</h4>', {
							  skin: 'layui-layer-molv', //样式类名
							  closeBtn: 1
							});				
					}
				}
			});
		  
		});
});

//ajax状态操作
function status(URL,c){
	$.ajax({
		
		type:"get",
		url:URL,
		dataType:"json",
		success:function(msg){
			if(msg.status==1){
				layer.tips('恭喜您！操作成功！', '#'+c, {
					  tips: [1, '#3595CC'],
					  time: 2000
					});
				setTimeout(function(){
					location.href="{:U('index','',false)}/p/"+<?php echo I('get.p')?I('get.p'):1?>;
				},800);
			}else{
				layer.tips(msg.error, '#'+c, {
					  tips: [1, '#3595CC'],
					  time: 3000
					});
			}
		}
	});
}

</script>
 