<layout name="Public/layout"/>
<div class="page-heading">
 <h3>{$title}</h3>
    <ul class="breadcrumb">
       <li><a href="#">控制面板</a></li>
       <li><a href="{:U('linkIndex')}">返回</a></li>
       <li class="active"> Editable Table </li>
   </ul>
</div>
<div class="wrapper">
             <div class="row">
                <div class="col-sm-12">
                <section class="panel">
                <header class="panel-heading">
                    Editable Table
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                        <a href="javascript:;" class="fa fa-times"></a>
                     </span>
                </header>
                <div class="panel-body">
                <div class="adv-table editable-table ">
                <div class="clearfix">
                   
                </div>
                
        </div>
     </div>
<form id="form_data" method="post" action="">    
<table  style="width:400px;text-align:center;height:150px;margin-left:20px;font-size:16px">                
   <tr>
       <td>链接名称:</td>
       <td>
	      <input type="text" name="linkname"/>
	   </td>
   </tr>
   <tr>
       <td>链接地址:</td>
       <td>
        <input type="text" name="url"/>
     </td>
   </tr>
   	<tr>
      <td colspan=2><input type="submit"  value="提交"/> &nbsp &nbsp<input type="reset"  value="重置" /></td>  
   	</tr>                
</table>
</form> 
</section>
<script type="text/javascript">
//jQureForm插件提交表单
actionForm("{:U('linkAdd')}","{:U('linkIndex')}");
</script>>
