<layout name="Public/layout"/>
<style type="text/css">
table{margin-top: -30px;}
tr{height: 35px;}
th{font-weight: bold;padding-top:18px;font-family:'微软雅黑';}
</style>
<div class="page-heading">
    <h3>{$title}</h3>
       <ul class="breadcrumb">
           <li><a href="javascript:void(0);">控制面板</a></li>
           <li><a href="{:U('classIndex')}">返回</a></li>
           <li class="active"> Editable Table </li>
      </ul>
</div>
<div class="wrapper">
             <div class="row">
                <div class="col-sm-12">
                <section class="panel">
                <header class="panel-heading">
                    Editable Table
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                        <a href="javascript:;" class="fa fa-times"></a>
                     </span>
                </header>
                <div class="panel-body">
                <div class="adv-table editable-table ">
                <div class="clearfix">
                   
                </div>
                
        </div>
     </div>
	<form id="form_data" method="post" action="">
		<input type="hidden" name="id" value="{$editData.id}">    
		<table  style="width:50%;height:300px;margin-left:20px;font-size:16px">
		    <tr><th>上级分类:</th></tr>
		    <tr>
		     	<td>
		     		<select name="fid">
		     			<option value="0">---顶级---</option>
		     			<volist name="parentList" id="vo">
	    	 				<?php
	    	 					if($editData['fid']==$vo['id']){
									$che='selected="selected"';	
	     						}else{
									$che='';
	     						}
		     				?>
		     			<option value="{$vo.id}" {$che}>---{$vo.name}---</option>
		     			</volist>
		     		</select>
			 	</td>
			</tr>
		    <tr><th>名称</th></tr>
		    <tr><td><input type="text" name="name" value="{$editData.name}" /></td></tr>
		   	
		   	<tr>
		      <td colspan=2><input type="submit"  value="提交" /> &nbsp &nbsp &nbsp<input type="reset"  value="重置" /></td>  
		   	</tr>   
		   	               
		</table>
	</form> 
</section>
<script type="text/javascript">
	//jqureForm插件提交表单
	actionForm("{:U('classEdit')}","{:U('classIndex')}");
</script>