

.news{
	width: 1200px;
	margin: 10px auto 0;
}
.news .news_titimg{
	position: relative;
	height:300px;
	width:900px;
	overflow: hidden;
}
.news .news_titimg p{
	position: absolute;
	bottom: 0;
	color: #fff;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	padding-left: 10px;
	background-color: rgba(0,0,0,0.5);
}
.news .news_main{
	/*margin-top: 33px;*/
	width: 900px;
}
.news .news_main>li{
	width: 900px;
	margin-top: 25px;
	padding-bottom: 18px;
	border-bottom: 1px solid #e7e7e7;
}
.news .news_main>li>a>img{
	float: left;
	width: 175px;
	height: 131px;
}
.news .news_main>li>div{
	height: 131px;
	width: 685px;
	font-size: 14px;
	padding-left: 15px;
	overflow: hidden;
}
.news .news_main>li>div>p{
	font-size: 18px;
	padding-bottom: 10px;
}
.news .news_main>li>div>p>a{
	display: inline-block;
	width: 550px;
	color: #575757;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news .news_main>li>div>p>a:hover{
	color: #d00d0d;
}
.news .news_main>li>div>p span{
	float: right;
	color: #969696;
	font-size: 14px;
	margin-top: 3px;
}
.news .news_text{
	display: inline-block;
	line-height: 20px;
}
.news .side_main{
	margin-top: 0px;
}

/*---------------newstext.php ---------------*/
.place{
	color: #969696;
	font-size: 14px;
}
.place a{
	color: #000;
}
.news .news_all{
	width: 900px;
}
.news_all h2{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}
.news_all .news_ti{
	color: #ccc;
	font-size: 14px;
	padding-left: 100px;
}
.news_all .news_ti .read{
	color: #000;
	padding-left: 450px;
}
.news_all .lead{
	font-size: 14px;
	padding: 15px 10px;
	margin-top: 27px;
	margin-bottom: 20px;
	vertical-align: middle;
	background-color: #eeeeee;
}
.news_all .surs_news{
	display: block;
	width: 200px;
	height: 50px;
	margin: 15px auto 0;
	background: url(../img/icon/consult.gif?5) no-repeat;
	background-size: 200px 50px;
}
.news_content{
	font-size: 14px;
}
.news_content p{
	color: #535353;
	text-indent: 2em;
	padding: 10px 0;
	line-height: 22px;
}
.news_content a{
	color: #5151ff;
}
.news_content img{
	max-width: 800px;
	/*margin-left: 30px;*/
}
.newstext .side_main2{
	margin-top: 50px;
}
.newstext .news_non{
	margin-top: 20px;
	margin-bottom: 10px;
}
.newstext .news_share{
	float: left;
	padding-top: 2px;
}
.news_more{
	margin-top: 20px;
	font-size: 14px;
	position: relative;
}
.news_more p{
	line-height: 30px;
}
.news_more a{
	color: #666;
}
.news_more div{
	margin-bottom: 10px;
}
.news_more div a{
	display: block;
	width: 300px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.news_more a:hover{
	color: #d00d0d;
	text-decoration: underline;
}
.news_about{
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}
/*---文章广场聊天---*/
#xianliaome_window{
	z-index: 8888!important;
}
/*---------------newstext.php END---------------*/

/*---------------strategy.php-------------------*/
.strategyMa{
	width: 1200px;
	margin: 0 auto;
}
.strategyMa .side_main{
	margin-top: 0; 
}
.strategyMa .side_main .ad_001 img{
	display: none;
}
.stra_main{
	width: 900px;
	margin-top: -10px;
}
.stra_tit{
	position: relative;
	color: #eb6100;
	font-size: 20px;
	font-weight: bold;
}
.stra_tit>span{
	float: left;
	width: 23px;
	height: 23px;
	margin-right: 5px;
	margin-top: -7px;
	background-color: #898989;
}
.stra_tit span>span{
	width: 8px;
	height: 8px;
	position: absolute;
	bottom: -3px;
	left: 15px;
	border:2px solid #fff;
	background-color: #898989;
}
.stra_tit i{
	position: absolute;
	top: 14px;
	right: 40px;
	width: 740px;
	border-top: 1px solid #bfbfbf;
}
.stra_tit a{
	position: absolute;
	right: 0;
	top: 4px;
	color: #898989;
	font-size: 16px !important;
}
.stra_tit a:hover{
	color: #c90101;
	text-decoration: underline;
}
.stra_main .stra_ul{
	font-size: 14px;
}
.stra_main .stra_te{
	font-size: 22px;
	color: #000;
}
.stra_main .stra_te:hover{
	color: #d00d0d;
}
.stra_main .stra_ul li{
	margin-top: 30px;
}
.stra_main .stra_ul p{
	width: 820px;
	color: #7b7b7b;
	margin-top: 5px;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.stra_main .stra_ul div{
	margin-top: 20px;
}
.stra_main .stra_ul div a img{
	width: 254px;
	height: 175px;
	margin-right: 20px;
}
.stra_main .stra_ul div a:last-child img{
	margin-right: 0;
}

.stra_special{
	margin-top: 56px;
	margin-bottom: 50px;
	position: relative;
}
.stra_special .stra_tit span{
	margin-top: 3px;
}
.stra_special .stra_tit i{
	width: 1035px;
}
.stra_special .stra_left{
	float: left;
	width: 590px;
	margin-top: 30px;
}

.stra_left .stra_span{
	width: 115px;
	margin-bottom: 16px;
	margin-left: 300px;
	text-align: center;
}
.stra_left .stra_span b{
	float: left;
	color: #ccc;
	margin: -3px 5px 0 0;
}
.stra_left .stra_span b:last-child{
	margin-right: 0px;
	margin-left: 2px;
}
.stra_left .stra_span span{
	float: left;
	width: 10px;
	height: 10px;
	margin-right: 3px;
	background-color: #ccc;
}
.stra_left .stra_span .active{
	background-color: #eb6100;
}
.stra_option ul li{
	float: left;
	width: 8px;
	height: 8px;
	margin-right: 3px;
	background-color: blue;
}
/*.stra_left>p,*/
.stra_left>ul{
	font-size: 14px;
	line-height: 34px;
}
.stra_special .stra_imgsa{
	position: relative;
	float: left;
	width: 220px;
	height: 186px;
}
.stra_special .stra_imgsa img{
	float: left;
	width: 220px;
	height: 186px;
	background-size: 100% 100%;
}
.stra_special .stra_imgsa span{
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 220px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	color: #fff;
	background-color: rgba(0,0,0,0.5);
}
.stra_special .stra_imgsa:hover span{
	display: block;
}
.stra_left>ul li{
	color: #000;
	width: 320px;
	margin-left: 250px;
	margin-right: 20px;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.stra_left>ul li a:hover{
	color: #dc0000;
}
.stra_special .stra_video{
	float: left;
	width: 284px;
	height: 210px;
	margin-top: 20px;
	margin-right: 16px;
	background-color: #f8f8f8;
}
.stra_special .stra_videoL{
	margin-right: 0 !important;
}
.stra_special .stra_video embed{
	width: 285px;
	height: 157px;
	background-color: #ccc;
}
.stra_special .stra_video video{
	width: 285px;
	height: 157px;
	background-color: #ccc;
}
.stra_special .stra_video p{
	width: 260px;
	color: #7b7b7b;
	margin-left: 10px;
	margin-top: 10px;
}


/*---------------strategy.php END-----------------*/

/*------畅言----*/
#SOHUCS #SOHU_MAIN .module-hot-topic .images-slider .sliders .slider .text-background .text{
	width: 100%!important;
	white-space: nowrap!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;   
}
