<layout name="Public/layout"/>
<style>
#tabbar-div{font-size:18px;width:20%;height:30px;text-align:center;}
#tabbar-div ul li{list-style-type:none;float:left;line-height:28px;width:50%;cursor:pointer;border:1px #d8ef3a solid;}
.tab-front{background:#4ca90f;};
</style>
 <div class="page-heading">
 <h3>{$title}</h3>
 <ul class="breadcrumb">
    <li><a href="#">控制面板</a></li>
    <li><a href="{:U('index','',false)}/cat_id/{$cat_id}">返回</a></li>
    <li class="active"> Editable Table </li>
</ul>
</div>
<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                        <a href="javascript:;" class="fa fa-times"></a>
                    </span>
				<div id="tabbar-div">
					<ul>
						<li class="tab-front">基本信息</li>
						<li class="tab-back">扩展</li>
					
					</ul>
				</div>
                </header>
<form id="form_data">    
<table class="table_content" style="width:100%;height:750px;margin-left:10px;font-size:16px">
	<input type="hidden" name="category_id" value="{$cat_id}">
	<input type="hidden" name="id" value="{$doc.id}">
	<input type="hidden" name="cover_id" value="{$doc.cover_id}">
    <tr><td>文档标题:</td></tr>
   	<tr><td><input type="text" name="title" size="50" value="{$doc.title}"/></td></tr>
   	<tr><td>标识:</td></tr>
   	<tr><td><input type="text" name="name"  size="50"/ value="{$doc.name}"></td></tr>
    <tr><td>描述:</td></tr>
    <tr><td><textarea rows="8" cols="80" name="description">{$doc.description}</textarea></td></tr>
     <tr><td>文章内容:</td></tr>
   	<tr><td><textarea id="document" name="document">{$docContent.content}</textarea></td></tr>              
</table>

<table class="table_content" style="display:none;width:100%;height:700px;margin-left:10px;font-size:16px;">
	<tr><td>内容类型：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<select name="type">
				<option value="0" <?php echo $doc['type']==0? 'selected="selected"':''?>>--请选择--</option>
				<option value="1" <?php echo $doc['type']==1? 'selected="selected"':''?>>目录</option>
				<option value="2" <?php echo $doc['type']==2? 'selected="selected"':''?>>主题</option>
				<option value="3" <?php echo $doc['type']==3? 'selected="selected"':''?>>段落</option>
			</select>

	</td></tr>
	<tr><td>浏览量：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" name="view" value="{$doc.view}"></td></tr>
	<tr>
		<td>可见性：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<?php if($doc['display']==1):?>
			<input type="radio" name="display" value="0">不可见&nbsp&nbsp&nbsp&nbsp
			<input type="radio" name="display" value="1" checked="checked">所有人可见
			<?php else:?>
			<input type="radio" name="display" value="0"checked="checked">不可见&nbsp&nbsp&nbsp&nbsp
			<input type="radio" name="display" value="1" >所有人可见
			<?php endif;?>
		</td>
	</tr>
	
	<tr>
		<td>数据状态：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<?php if($doc['status']==1):?>
			<input type="radio" name="status" value="0">禁用&nbsp&nbsp&nbsp&nbsp
			<input type="radio" name="status" value="1" checked="checked">启用
			<?php else:?>
			<input type="radio" name="status" value="0" checked="checked">禁用&nbsp&nbsp&nbsp&nbsp
			<input type="radio" name="status" value="1" >启用
			<?php endif;?>
		</td>
	</tr>
	<tr>
		<td>优先级：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<input type="text" name="level" value="{$doc.level}" >
		</td>
	</tr>
	<tr><td>封面:</td></tr>
	<tr><td><input type="file" name="img"></td></tr>
	
	<tr><td><?php ShowImage($docImg['imgurl'],250,200);?></td></tr>	 
</table>

<table>
	<tr>
      <td colspan=2><input type="button"  value="提交" id="tijiao"/> &nbsp &nbsp &nbsp<input type="reset"  value="重置" /></td>  
	</tr>
</table> 
</form> 
<div id="tishi" style="width:1650px;height:50px;background:#f66b34;color:white;line-height:50px;position:fixed;top:80px;font-size:22px;padding-left:50px;display:none"></div>     
</section>
<script src="__ROOT__/Application/Admin/Public/js/jquery-1.10.2.min.js"></script>

<script type="text/javascript">

// 点击按钮切换table
$("#tabbar-div ul li").click(function(){
	// 获取点击的是第几个按钮
	var i = $(this).index();
	// 显示第i个table
	$(".table_content").eq(i).show();
	// 隐藏其他的table
	$(".table_content").eq(i).siblings(".table_content").hide();
	// 把原来选中的取消选中状态
	$(".tab-front").removeClass("tab-front").addClass("tab-back");
	// 切换点击的按钮的样式为选中状态
	$(this).removeClass("tab-back").addClass("tab-front");
});

$('#tijiao').click(function(){
	var form = new FormData(document.getElementById("form_data"));
    $.ajax({
        url: "{:U('ajaxEdit')}",
        type: "post",
        data: form,
        dataType:"json",
        processData: false,
        contentType: false,
        success: function(data) {
        	if(data.ok==0){
				$('#tishi').html(data.error);
				$('#tishi').fadeIn(1000);
				$('#tishi').fadeOut(3000);
			}else{
				$('#tishi').html('操作成功正在跳转！');
				$('#tishi').fadeIn(1000);
				$('#tishi').fadeOut(3000);
				
					setTimeout(function(){
						location.href="{:U('index','',false)}/cat_id/"+{$cat_id};
					},3000);
				
			}
        }
 
    });
	
});
//在线编辑器
UE.getEditor('document', {
	"initialFrameWidth" : "95%",   // 宽
	"initialFrameHeight" : 400,      // 高
	"maximumWords" : 3000,// 最大可以输入的字符数量
	'scaleEnabled':true
});
</script>
 